{% extends "/Customer/customer_base.html" %}
{% block content %}
<h1 class="mb-4">Hi, {{cu.c_name}}!!</h1>
<div class="container mt-3">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div id="flash-messages">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show bg-warning" role="alert">
            {{ message }}
            <button type="button" class="btn-close bg-warning" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</div>


<!-- Search Section -->
<div class="mb-5">
  <h4>Looking for</h4>  
  <div class="row">
    {% for service in servname %}
    <div class="col-sm-6 mb-3" style="width:13rem; height:10rem;">
        <div class="card">
            <div class="card-body" style="width:184px; height:160px">
            <div class="d-flex justify-content-center text-center" style="width:152px; height:48px"><h5 class="card-title">{{service}}</h5></div>
            
            <div class="d-flex justify-content-center mt-4"><a href="/customer/search?sname={{service}}" class="btn btn-primary">Explore</a></div>
            </div>
        </div>
    </div>
    {% endfor %}
    
</div>


<!-- Service History Table -->
<h4 class="mt-4">Your Bookings</h4>
<div class="card shadow-lg">
  <div class="card-body">
      <table class="table">
          <thead>
              <tr>
                  <th>Service Name</th>
                  <th>Provider Name</th>
                  <th>Payment</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Phone</th>
                  <th>Status</th>
                  <th>Actions</th>
              </tr>
          </thead>
          <tbody>
            {% for request in req_opn %}

              <tr>
                  <td>{{request.pack.p_name}}</td>
                  <td>{{request.servprovider.sp_name}}</td>
                  
                  <td>{{request.pack.p_price}}</td>
                  <td>{{request.r_date}}</td>
                  <td>{{request.r_time}}</td>
                  <td>{{request.servprovider.sp_phone}}</td>
                  {% if request.r_status=="Accepted" %}
                  <td><span class="badge bg-success text-white">{{request.r_status}}</span></td>
                  {% elif request.r_status=="Finished" %}
                  <td><span class="badge bg-danger text-white">{{request.r_status}}</span></td>
                  {% endif %}
                  <td class="action-btns">
                      
                      {% if request.r_status=="Finished" %}
                        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#Finish">
                          Close
                        </button>
                      
                            <div class="modal fade" id="Finish" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="exampleModalLabel"><Strong>Close Request</Strong></h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body" >
                                    <form action="/rating?pack={{request.pack.p_id}}&rid={{request.r_id}}" method="POST">
                                      
                                      <div class="form-floating">
                                        <select class="form-select" id="floatingSelectDisabled" name="rate" aria-label="Floating label disabled select example" >
                                          <option selected></option>
                                          <option value="1" >One</option>
                                          <option value="2">Two</option>
                                          <option value="3">Three</option>
                                          <option value="4">Four</option>
                                          <option value="5">Five</option>
                                        </select>
                                        <label for="floatingSelectDisabled">Rate the service</label>
                                      </div>
                                      <div>
                                        <input type="submit" value="Close">
                                      </div>
                                    </form>  
                                  </div>
                                    
                                </div>
                              </div>
                            </div>
                          {% endif %}
                  </td>
              </tr>
            {% endfor %} 
              
          </tbody>
      </table>
  </div>
</div>
<div class="card mt-3 shadow-lg">
  <div class="card-header">
    Requested Bookings
  </div>
  <div class = "card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Service Name</th>
          <th>Provider Name</th>
          <th>Payment</th>
          <th>Date</th>
          <th>Time</th>
          <th>Phone</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for request in req_req %}
            <tr>
              <td>{{request.pack.p_name}}</td>
              <td>{{request.servprovider.sp_name}}</td>
              
              <td>{{request.pack.p_price}}</td>
              <td>{{request.r_date}}</td> 
              <td>{{request.r_time}}</td>
              <td>{{request.servprovider.sp_phone}}</td>
              <td><span class="badge bg-warning text-dark">{{request.r_status}}</span></td>
              <td class="action-btns">
                  <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="bi bi-trash"></i>
                  </button>
                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel"><Strong>Cancel Request</Strong></h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" >
                            <p>Are you sure you want to cancel the Request?</p>
                        </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
                            <form action="/customer/book?cancel=Yes&rid={{request.r_id}}" method="POST">
                            <button type="submit" class="btn btn-primary">Yes</button>
                            </form>
                        </div>
                      </div>
                    </div>
                  </div>
                  <button class="btn btn-sm btn-white border" data-bs-toggle="modal" data-bs-target="#exampleModal2" >
                      <i class="bi bi-pen"></i>
                  </button>
                  <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel"><Strong>Edit Request</Strong></h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body" >
                          <h5>{{request.pack.p_name}}</h5>
                          <div class="form-floating mb-3">
                            <div class="container">
                              <form action="/customer/book?rid={{request.r_id}}&edit=yes" method="POST">
                                <div class="row mb-3">
                                  <div class="col-md-4">
                                    <label class="form-label" for="Date">date</label>
                                    <input type="date" class="form-control" required name="Date">
                                  </div>
                                  
                                  <div class="col-md-4">
                                    <label class="form-label" for="Time">Time : </label>
                                    <input type="time" class="form-control" required name="Time">
                                  </div>
                                </div>
                                <button type="submit">Submit</button>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>    
              </td>
          </tr>
        {% endfor %} 
          
      </tbody>
    </table>
  </div>
</div>
<div class="card mt-3 shadow-lg">
  <div class="card-header">
    Closed Bookings
  </div>
  <div class = "card-body">
    <table class="table">
      <thead>
        <tr>
          <th>Service Name</th>
          <th>Provider Name</th>
          <th>Payment</th>
          <th>Date</th>
          <th>Time</th>
          <th>Phone</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for request in req_cls %}
            <tr>
              <td>{{request.pack.p_name}}</td>
              <td>{{request.servprovider.sp_name}}</td>
              
              <td>{{request.pack.p_price}}</td>
              <td>{{request.r_date}}</td>
              <td>{{request.r_time}}</td>
              <td>{{request.servprovider.sp_phone}}</td>
              <td><span class="badge bg-danger text-white">{{request.r_status}}</span></td>
            </tr>
        {% endfor %} 
          
      </tbody>
    </table>
  </div>
</div>
<script>
  // Hide flash messages after 3 seconds (3000 milliseconds)
  setTimeout(function() {
    var flashMessages = document.getElementById("flash-messages");
    if (flashMessages) {
      flashMessages.style.display = "none";
    }
  }, 3000);
</script>
{% endblock %}          
     
        


