
            {% extends "/admin/admin_base.html" %}
            {% block content %}            
<h1 class="mb-4">Hi, {{cu.admin_name}}!!</h1>
<div class="container mt-3">
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div id="flash-messages">
        {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show bg-warning" role="alert">
            {{ message }}
            <button type="button" class="btn-close bg-warning" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
</div>



<!-- Service History Table -->
<h4 class="mt-4"> Services</h4>
<div class="card shadow-lg">
  
  <div class="card-body">
      <table class="table">
          <thead>
              <tr>
                  <th>Service Name</th>
                  <th class="text-center">Associate Providers</th>
                  <th class="text-center">No.Packages</th>
                  <th class="text-center">Base Price</th>
                  <th class="text-center">Actions</th>
              </tr>
          </thead>
          <tbody>
            {% for s in Services %}
              <tr>
                  
                  <td>{{s.s_name}}</td>
                  
                  <td class="text-center">{{s.Sproviders|length}}</td>
                  <td class="text-center">{{s.packages|length}}</td>
                  <td class="text-center">{{s.baseprice}}</td>
                  <!-- <td>Edit/Deleted</td> -->
                  <!-- <td><span class="badge bg-info text-dark">Requested</span></td> -->
                  <td class="action-btns text-center" >
                    
                    
                    <button class="btn btn-sm btn-white border" data-bs-toggle="modal" data-bs-target="#editservice-{{s.s_id}}" >
                        <i class="bi bi-pen"></i>
                    </button>
                    <div class="modal fade" id="editservice-{{s.s_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel"><Strong>Edit Service</Strong></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body" >
                            <form action="/service?edit=edit&sid={{s.s_id}}" method="POST">
                              <div class="mb-3">
                                <label for="servicename" class="form-label d-flex align-items start">Service Name</label>
                                <input type="text" class="form-control" name="servicename" aria-describedby="emailHelp">
                              </div>
                              <div class="mb-3">
                                  <label for="desc" class="form-label d-flex align-items start" >Description</label>
                                  <textarea class="form-control" name="desc" rows="3"></textarea>
                              </div>
                              <div class="mb-3">
                                  <label for="baseprice" class="form-label d-flex align-items-start">Base Price</label>
                                  <input type="text" class="form-control" name="baseprice">
                              </div>
                              <button type="submit" class="btn btn-primary">Submit</button>
                              
                            </form>
                              
                      
                          </div>
                          
                        </div>
                      </div>
                    </div>
                  </td>
              </tr>
            {% endfor %}
              
          </tbody>
      </table>
      <div>
        <!-- <button class= "btn btn-sm btn-primary">+New Service</button>  -->
        <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addService" >
          <i class="bi bi-plus"></i>New Service
        </button>
        <div class="modal fade" id="addService" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel"><Strong>Add Service</Strong></h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" >
                        <form action="/service?ns=ns" method="POST">
                            <div class="mb-3">
                                <label for="servicename" class="form-label">Service Name</label>
                                <input type="text" class="form-control" name="servicename" aria-describedby="emailHelp">
                            </div>
                            <div class="mb-3">
                                <label for="desc" class="form-label" >Description</label>
                                <textarea class="form-control" name="desc" rows="3"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="baseprice" class="form-label">Base Price</label>
                                <input type="text" class="form-control" name="baseprice">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
<!-- ********** -->
<h4 class="mt-4"> Professional</h4>
<div class="card shadow-lg">
  
  <div class="card-body">
    <p class="d-inline-flex gap-5">
        <button class="btn btn-primary accordian-button" type="button" data-bs-toggle="collapse" data-bs-target="#activeprofessional" aria-expanded="false" aria-controls="activeprofessional">
          Active Proffesionals
        </button>
        <button class="btn btn-primary accordian-button" type="button" data-bs-toggle="collapse" data-bs-target="#requestedprofessional" aria-expanded="false" aria-controls="requestedprofessional">
        Requested Proffesionals
      </button>
      <button class="btn btn-primary accordian-button" type="button" data-bs-toggle="collapse" data-bs-target="#flaggedprofessional" aria-expanded="false" aria-controls="flaggedprofessional">
        Flagged Proffesionals
      </button>
      </p>
      <div class="collapse accordian-collapse" id="activeprofessional">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Experience</th>
                    <th>Service Name</th>
                    <th>City</th>
                    <th>No.Packages</th>
                    <th>Phone</th>
                    <th>Rating</th>
                    <th>Action</th>
                      
                </tr>
            </thead>
            <tbody>
              {% for sp in active%}
                <tr>
                    <td>{{sp.sp_name}}</td>
                    <td>{{sp.sp_exp}}</td>
                    <td>{{sp.sp_servicename}}</td>
                    <td>{{sp.sp_city}}</td>
                    <td>{{sp.mypackages|length}}</td>
                    <td>{{sp.sp_phone}}</td>
                    <td>
                      {% for i in range(sp.sp_rating) %}
                        <i class="bi bi-star-fill text-warning"></i>
                      {% endfor %}
                      {% for i in range(5-sp.sp_rating) %}
                        <i class="bi bi-star"></i>
                      {% endfor %}
                    </td>
                    
                    <td class="action-btns">
                      
                      <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#spblock-{{sp.sp_id}}">
                        <i class="bi bi-flag-fill"></i>
                      </button>
                      <div class="modal fade" id="spblock-{{sp.sp_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            
                            <div class="modal-body" >
                              <h5>Are you sure you want to block?</h5>
                              
                              
                            </div>
                            <div class="modal-footer">
                              <form action="/flag?spid={{sp.sp_id}}&target=sp&action=flag" method="POST">
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                              </form>
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">NO</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
      </div>
      <!-- ********requested Profesionals********** -->
      <div class="collapse accordian-collapse" id="requestedprofessional">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Experience</th>
                    <th>Service Name</th>
                    <th>City</th>
                    <th>No.Packages</th>
                    <th>Phone</th>
                    <th>Action</th>                                                            
                </tr>
            </thead>  
            <tbody>
              {% for sp in requested %}

                <tr>
                  <td>{{sp.sp_name}}</td>
                    <td>{{sp.sp_exp}}</td>
                    <td>{{sp.sp_servicename}}</td>
                    <td>{{sp.sp_city}}</td>
                    <td>{{sp.mypackages|length}}</td>
                    <td>{{sp.sp_phone}}</td>
                    <td class="action-btns">
                      <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#spview-{{sp.sp_id}}" >
                        <i class="bi bi-eye"></i>
                      </button>
                      <div class="modal fade" id="spview-{{sp.sp_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel"><Strong>Profile Document</Strong></h1>
                              <img src="{{sp.sp_rfile}}" >
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" >
                                                                        
                            </div>
                          </div>                                      
                        </div>
                      </div>
                                                        
                      <button class="btn btn-sm btn-success" >
                          <a class="text-decoration-none text-white" href="/admin/dashboard?spid={{sp.sp_id}}&accept=accept">Accept</a> 
                      </button>
                      <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#spreject-{{sp.sp_id}}" >
                        Reject
                      </button>
                      <div class="modal fade" id="spreject-{{sp.sp_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h1 class="modal-title fs-5" id="exampleModalLabel"><Strong>Reject Request</Strong></h1>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body" >
                              <h5>because of</h5>
                              <div class="form-floating mb-3">
                                  <div class="container text-center">
                                    <form action="/serviceprovider/Dashboard?rid=request.r_id&reject=reject" method="POST">
                                    <label for="reject">Reasons: </label><br>
                                    <select name="reject" id="reject" >
                                        <option value="select">Select a reason</option>
                                        <option value="busy">Less Experience</option>
                                        <option value="Other">Other</option>
                                    </select><br>
                                    <div class="mt-4" >
                                    <button type="submit" class="btn btn-sm btn-success">Submit</button>
                                    </div>
                                    </form>                                                                           
                                  </div>
                              </div>
                            </div>                                      
                          </div>
                        </div>
                      </td> 
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
      </div>
      <!-- ********flaged Profesionals********** -->
      <div class="collapse" id="flaggedprofessional">
        
        <table class="table">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Experience</th>
                  <th>Service Name</th>
                  <th>City</th>
                  <th>No.Packages</th>
                  <th>Phone</th>
                  <th>Action</th>                                                            
              </tr>
          </thead>  
          <tbody>
            {% for sp in flagged %}

              <tr>
                <td>{{sp.sp_name}}</td>
                  <td>{{sp.sp_exp}}</td>
                  <td>{{sp.sp_servicename}}</td>
                  <td>{{sp.sp_city}}</td>
                  <td>{{sp.mypackages|length}}</td>
                  <td>{{sp.sp_phone}}</td>
                  <td class="action-btns">
                    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#spblock-{{sp.sp_id}}">
                      <i class="bi bi-flag-fill"></i>
                    </button>
                    <div class="modal fade" id="spblock-{{sp.sp_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          
                          <div class="modal-body" >
                            <h5>Are you sure you want to unblock?</h5>
                            
                            
                          </div>
                          <div class="modal-footer">
                            <form action="/flag?spid={{sp.sp_id}}&target=sp&action=unflag" method="POST">
                              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                            </form>
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">NO</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td> 
              </tr>
              {% endfor %}
              
          </tbody>
      </table>
      </div> 
  </div>
</div>

<!-- ********** -->
<h4 class="mt-4"> Customer</h4>
<div class="card shadow-lg">
  
  <div class="card-body">
    <p class="d-inline-flex gap-5">
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#activecustomer" aria-expanded="false" aria-controls="collapseExample">
            Active Customer
        </button>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#flaggedcustomer" aria-expanded="false" aria-controls="collapseExample">
            Flagged Customer
      </button>
    </p>
    <!-- ********Active Customer********** -->
      <div class="collapse" id="activecustomer">
        <table class="table">
            <thead>
                <tr>
                  <th>Customer Name</th>
                  <th>City</th>
                  <th>Phone no</th>
                  <th>Warnings</th>
                  <th>Action</th>                                                            
                </tr>
            </thead>  
            <tbody>
                {% for c in c_active%}
                <tr>
                    
                    <td>{{c.c_name}}</td>
                    <td>{{c.c_city}}</td>
                    <td>{{c.c_phone}}</td>
                    <td>{{c.c_warn}}</td>                             
                    <td class="action-btns">
                    
                        <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#cblock-{{c.c_id}}">
                          <i class="bi bi-flag-fill"></i>
                        </button>
                        <div class="modal fade" id="cblock-{{c.c_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-body" >
                                    <h5>Are you sure you want to block?</h5>
                                </div>
                                <div class="modal-footer">
                                  <form action="/flag?cid={{c.c_id}}&target=c&action=flag" method="POST">
                                    <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                                  </form>
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">NO</button>
                                </div>
                            </div>
                          </div>
                        </div>
                        <button class="btn btn-sm btn-white border" data-bs-toggle="modal" data-bs-target="#c_warning-{{c.c_id}}" >
                          <i class="bi bi-exclamation-triangle"></i>
                        </button>
                        <div class="modal fade" id="c_warning-{{c.c_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h1 class="modal-title fs-5" id="exampleModalLabel"><Strong>Send Warning to {{c.c_name}}!!</Strong></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body" >
                                <div class="form-floating mb-3">
                                  <div class="container">
                                    <form action="/warning?target=c&action=warning&cid={{c.c_id}}" method="POST">
                                      
                                      <div class="row mb-3">
                                        <div class="col-md-8">
                                          <label class="form-label" for="msg">Message: </label>
                                          <textarea type="text" rows="2" class="form-control" name="msg" placeholder="Leave your message if any."></textarea>
                                        </div>
                                      </div>
                                                                
                                      <input type="submit" value="Send">
                  
                                    </form>
        
                                  </div>
                              </div>
                              </div>
                              </div>
                          </div>
                        </div>
                      </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

      </div>
      <!-- ********Flagged Customer********** -->
      <div class="collapse" id="flaggedcustomer">
      <table class="table">
        <thead>
            <tr>
              <th>Customer Name</th>
              <th>City</th>
              <th>Phone no</th>
              <th>Action</th>                                                            
            </tr>
        </thead>  
        <tbody>
            {% for c in c_flag%}
            <tr>
                
                <td>{{c.c_name}}</td>
                <td>{{c.c_city}}</td>
                <td>{{c.c_phone}}</td>                             
                <td class="action-btns">
                
                    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#cblock-{{c.c_id}}">
                      <i class="bi bi-flag-fill"></i>
                    </button>
                    <div class="modal fade" id="cblock-{{c.c_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-body" >
                                <h5>Are you sure you want to unblock?</h5>
                            </div>
                            <div class="modal-footer">
                              <form action="/flag?cid={{c.c_id}}&target=c&action=unflag" method="POST">
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
                              </form>
                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">NO</button>
                            </div>
                        </div>
                      </div>
                    </div>
                    <button class="btn btn-sm btn-white border" data-bs-toggle="modal" data-bs-target="#c_warning-{{c.c_id}}" >
                      <i class="bi bi-exclamation-triangle"></i>
                    </button>
                    <div class="modal fade" id="c_warning-{{c.c_id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel"><Strong>Send Warning!!</Strong></h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body" >
                            <div class="form-floating mb-3">
                              <div class="container">
                                <form action="/customer/book?spid=p.servprovider.sp_id&pid=p.p_id" method="POST">
                                  
                                  <div class="row mb-3">
                                    <div class="col-md-8">
                                      <label class="form-label" for="msg">Message: </label>
                                      <textarea type="text" rows="2" class="form-control" name="msg" placeholder="Leave your message if any."></textarea>
                                    </div>
                                  </div>
                                                            
                                  <input type="submit" value="Send">
              
                                </form>
    
                              </div>
                          </div>
                          </div>
                          </div>
                      </div>
                    </div>
                  </td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  // Hide flash messages after 3 seconds (3000 milliseconds)
  setTimeout(function() {
    var flashMessages = document.getElementById("flash-messages");
    if (flashMessages) {
      flashMessages.style.display = "none";
    }
  }, 3000);
</script>    
{% endblock %}          



