{% extends "/ServiceProvider/serviceprovider_base.html" %}
{% block content %}
<h1 class="mb-4">Hi, Username!!</h1>
           
            

<!-- Service History Table -->
<h4 class="mt-4">Open Services</h4>
<div class="card shadow-lg">
<div class="card-header">
Today's Services
</div>
<div class="card-body">
<table class="table">
<thead>
    <tr>
      <th>Customer Name</th>
        
      <th>Phone no</th>
      <th>Address</th>
      <th>Date</th>
      <th>Time</th>
      <th>Status</th>        
    </tr>
</thead>
<tbody>
  {% for request in todays_requests %}
    <tr>
      <td>{{request.cust.c_name}}</td>
        
      <td>{{request.cust.c_phone}}</td>
      <td>{{request.cust.c_address}}</td>
      <td>{{request.r_date}}</td>
      <td>{{request.r_time}}</td>
      

      <td><span class="badge bg-success text-dark">{{request.r_status}}</span></td>                
    </tr>
  {% endfor %} 
</tbody>
</table>
</div>


<div class="card-header">
Open Services
</div>
<div class="card-body">
<table class="table">
<thead>
  
  <tr>
      
    <th>Customer Name</th>
        
    <th>Phone no</th>
    <th>Address</th>
    <th>Date</th>
    <th>Time</th>
    <th>Status</th>
      
  </tr>
</thead>
<tbody>
  {% for request in open_services %}
  <tr>
    <td>{{request.cust.c_name}}</td>
        
    <td>{{request.cust.c_phone}}</td>
    <td>{{request.cust.c_address}}</td>
    <td>{{request.r_date}}</td>
    <td>{{request.r_time}}</td>
    

    <td><span class="badge bg-success text-white">{{request.r_status}}</span></td>
  </tr>
  {% endfor %}
  
</tbody>
</table>
</div>
</div>

<h4 class="mt-4">Requested Services</h4>
<div class="card shadow-lg">
<div class="card-header">
Services
</div>
<div class="card-body">
<table class="table">
<thead>
    <tr>
        
        <th>Customer Name</th>
        
        <th>Phone no</th>
        <th>Address</th>
        <th>Date</th>
        <th>Time</th>
        <th>Status</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
  {% for request in requested_services %}
    <tr>
      
        <td>{{request.cust.c_name}}</td>
        
        <td>{{request.cust.c_phone}}</td>
        <td>{{request.cust.c_address}}</td>
        <td>{{request.r_date}}</td>
        <td>{{request.r_time}}</td>
        

        <td><span class="badge bg-info text-dark">{{request.r_status}}</span></td>
        <td class="action-btns">
          <button class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal3" >
            <i class="bi bi-eye"></i>
        </button>
        <div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"><Strong>Service Remarks</Strong></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body" >
                <h5 class = "mb-4">{{request.pack.p_name}}</h5>
                <div class="row">
                  <div class="col">
                        
                    <div >
                      <strong>Address </strong>  :  {{request.cust.c_address}}
                    </div>
                    <div>
                      <strong>Message </strong>  :  {{request.r_message}}
                    </div> 
                  </div> 
                </div>                                            
              </div>
            </div>                                      
          </div>
        </div>
              </div>                                      
            </div>
          </div>
        </div>
        
          <button class="btn btn-sm btn-success" >
              <a class="text-decoration-none text-white" href="/serviceprovider/Dashboard?rid={{request.r_id}}&accept=accept">Accept</a> 
          </button>
          <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal4" >
            Reject
          </button>
          <div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel"><Strong>Order can not processed</Strong></h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" >
                  <h5>because of</h5>
                  <div class="form-floating mb-3">
                      <div class="container text-center">
                        <form action="/serviceprovider/Dashboard?rid={{request.r_id}}&reject=reject" method="POST">
                        <label for="reject">Reasons: </label><br>
                        <select name="reject" id="reject" >
                            <option value="select">Select a service</option>
                            <option value="busy">Busy Schedule</option>
                            <option value="Location">Location Inaccesible</option>
                            <option value="ask req">inappropriate Demand</option>
                            <option value="Other">Other</option>
                        </select><br>
                        <div class="mt-4" >
                        <button type="submit" class="btn btn-sm btn-success">Submit</button>
                        </div>
                        </form>                                                                           
                      </div>
                  </div>
                </div>                                      
              </div>
            </div>
          
          </td>
    </tr>
    {% endfor %}
</tbody>
</table>

</div>
</div>
<h4 class="mt-4">Closed Services</h4>
<div class="card shadow-lg">
  <div class="card-header">
    Requests
  </div>
  <div class="card-body">
    <table class="table">
      <thead>
          <tr>
            <th>Customer Name</th>
            <th>Phone no</th>
            <th>Package Name</th>
            <th>Date</th>
            <th>Status</th>
            <th>Received Rating</th>
          </tr>
      </thead>
      <tbody>
        {% for request in closed_services %}
          <tr>
            <td>{{request.cust.c_name}}</td>
            <td>{{request.cust.c_phone}}</td>
            <td>{{request.pack.p_name}}</td>
            <td>{{request.r_date}}</td>
            <td>{{request.r_status}}</td>
              <td>
              <i class="bi bi-star"></i>
              </td>
          </tr>
        {% endfor %}  
      </tbody>
    </table>
  </div>
</div>  
{% endblock %}  

